<header class="py-2 shadow-sm">
    <div class="container sm-flex ta-center sm-ta-left justify-center sm-justify-between">
        <div class="flex justify-center sm-justify-between">
            <a href="#" onclick="location.reload()" class="flex align-center text-decoration-none">
                <span class="me-2">
                    <img class="image-icon radius-full" src="./assets/img/static/HappyFox2.jpg" alt="">
                </span>
                <p class="m-0">
                    <span class="block text-lg">
                        HappyFox
                    </span>
                    <span class="block text-min">
                        Developers
                    </span>
                </p>
            </a>
        </div>
        <div class="self-center text-lg">
            <a target="_blank" href="https://github.com/AdrianY1997">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
</header>