<div class="container">
    <p class="my-2 text-muted">Who am I?</p>
    <div class="shadow-sm px-3 py-2 pb-3 bg-white rounded">
        <p class="m-0 fw-bold fs-4">About Me</p>
        <hr class="mt-0 border border-logo border-1 opacity-1">
        <div class="md-flex">
            <div class="text-center">
                <img class="about-img shadow-sm rounded" src="assets/img/static/about_photo.jpg" alt="">
            </div>
            <div class="ps-3">
                <p class="m-0 fs-4">Adrian Mauricio Arandia Urrea</p>
                <p class="text-muted">Junior Web Developer</p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro corporis, architecto assumenda facere et ad odio sapiente, obcaecati, pariatur sit ipsam eveniet soluta. Tempore aut, quidem optio officia vero error. <a href="#">read more</a>
                </p>
            </div>
        </div>
    </div>
</div>