<div id="about" class="container">
    <p class="my-2 text-muted">Who am I?</p>
    <div class="shadow-sm px-3 py-2 pb-3 bg-white rounded">
        <p class="m-0 fw-bold fs-4">About Me</p>
        <hr class="mt-0 border border-logo border-1 opacity-1">
        <div class="md-flex">
            <div class="text-center">
                <img class="about-img shadow-sm rounded" src="assets/img/static/about_photo.jpg" alt="">
            </div>
            <div class="ps-3">
                <p class="m-0 fs-4">Adrian Mauricio Arandia Urrea</p>
                <p class="text-muted">Software Development Technician</p>
                <div class="about-text">
                    <p>Hi!</p>
                    <p>My name is Adrian Mauricio Arandia Urrea. I am a <strong>software programming technician</strong> graduated from SENA and I am currently studying <strong>Technology in Software Analysis and Development</strong> at the same institute. I work in both front-end and back-end web development. </p>
                    <p>Although I do not have professional experience yet, but I am very excited for you to see the projects where I practice my knowledge and skills.</p>
                </div>
            </div>
        </div>
    </div>
</div>