<div class="container my-2">
    <p class="m-0 text-muted">What I did?</p>
    <div class="shadow-sm px-3 py-2 bg-white rounded">
        <p class="m-0 text-logo fw-bold fs-4">Portfolio</p>
        <div>
            <div class="row">
              <div class="col">
                <img src="assets/img/static/website-development.jpg" class="w-100">
              </div>
              <div class="col">
                <img src="assets/img/static/portfolio2.jpg" class="w-100">
              </div>
              <div class="col">
              </div>
            </div>
          </div>
    </div>
</div>