<div id="portfolio" class="container my-2">
    <p class="m-0 text-muted">What I did?</p>
    <div class="shadow-sm px-3 py-2 bg-white rounded">
        <p class="m-0 text-logo fw-bold fs-4">Portfolio</p>
        <div>
            <div class="row portfolio">
              <div class="col p-0 mx-1 relative rounded shadow-sm">
                <a target="_blank" href="https://github.com/AdrianY1997/porfolio" class="absolute w-100 h-100 flex justify-center align-center">
                  View Project
                </a>
                <img src="assets/img/static/portfolio/portfolio-thumbnail.jpg" class="w-100">
              </div>
              <div class="col p-0 mx-1 relative rounded shadow-sm">
                <a target="_blank" href="https://github.com/AdrianY1997/foxy-mvc" class="absolute w-100 h-100 flex justify-center align-center">
                  View Project
                </a>
                <img src="assets/img/static/portfolio/foxy-thumbnail.png" class="w-100">
              </div>
              <div class="col p-0 mx-1 relative rounded shadow-sm">
                <a target="_blank" href="https://github.com/AdrianY1997/uraraka-ochaco-discord-bot" class="absolute w-100 h-100 flex justify-center align-center">
                  View Project
                </a>
                <img src="assets/img/static/portfolio/uraraka-ochaco-thumbnail.jpg" class="w-100">
              </div>
            </div>
          </div>
    </div>
</div>