$dist: 0.25rem;

@for $i from 1 through 10 {
    .p-#{$i} {
        padding: $dist;
    }
    
    .px-#{$i} {
        padding-left: $dist;
        padding-right: $dist;
    }
    
    .py-#{$i} {
        padding-top: $dist;
        padding-bottom: $dist;
    }

    .pt-#{$i} {
        padding-top: $dist;
    }

    .pb-#{$i} {
        padding-bottom: $dist;
    }

    .ps-#{$i} {
        padding-left: $dist;
    }

    .pe-#{$i} {
        padding-right: $dist;
    }

    $dist: $dist + $dist;
}