// align

.ta-center {
    text-align: center;
}

@media (min-width: 576px) {
    .sm-ta-left {
        text-align: left !important;
    }

    .sm-ta-right {
        text-align: right !important;
    }
}

// Sizes

.text-min {
    font-size: 10pt;
}

.text-small {
    font-size: 0.83em;
}

.text-normal {
    font-size: 1em;
}

.text-lg {
    font-size: 1.17em;
}

.text-xl {
    font-size: 1.5em;
}

.text-xxl {
    font-size: 2em;
}

// colors

.text-black {
    color: black;
}

.text-logo {
    color: rgb(78, 11, 11);
}

.text-white {
    color: white;
}

.text-white path {
    fill: white;
}

// sizes

.fs-7 {
    font-size: 10pt;
}