@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    outline: none;
}

.under-const {
    position: fixed;
    width: 100%;
    z-index: 2;
    background: white;
    height: 100vh;
}

.top-1 {
    top: 1rem;
}

header {
    background: white;
    position: relative;
}

body {
    background: whitesmoke;
}

.ff-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.home-container {
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 50%, rgba(245,245,245,1) 100%);
}

#sec-nav-btn {
    z-index: 1;
}

.collapse {
    height: 0;
}

.collapse.show {
    animation-name: show-fade-to-bottom;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
    height: auto;
}

.collapse.hide {
    animation-name: hide-fade-to-top;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
    overflow: hidden;
}

.sec-btn {
    transform: scale(1);
    cursor: pointer;
    transition: .2s;
}

.sec-btn:hover {
    transform: scale(1.2);
}

.tooltip-right {
    position: relative;
}

.tooltip-content {
    position: absolute;
}

.tooltip-right .tooltip-content {
    position: absolute;
    left: 60%;
    margin-left: 10px;
    padding: 0.55rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    color: #000;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.tooltip-right:hover .tooltip-content {
    left: 100%;
    opacity: 0.9;
}

.collapse:not(.show) {
    display: inherit;
}

@keyframes show-fade-to-bottom {
    0% {
        height: 0;
    }

    99% {
        height: 130px;
    }

    100% {
        height: auto;
    }
}

@keyframes hide-fade-to-top {
    0% {
        height: 130px;
    }

    100% {
        height: 0;
    }
}