// Image

.image-icon {
    width: 2.5rem;
}

// w h d

$dist: 0.25rem;

@for $i from 1 through 10 {
    .w-#{$i}r {
        width: $dist;
    }

    .h-#{$i}r {
        height: $dist;
    }

    $dist: $dist + $dist;
}

// Height

.h-100 {
    height: 100%;
}

.h-vfull {
    height: 100vh;
}

// Width 

.w-100 {
    width: 100%;
}