// Sizes

.text-min {
    font-size: 10pt;
}

.text-small {
    font-size: 0.83em;
}

.text-normal {
    font-size: 1em;
}

.text-lg {
    font-size: 1.17em;
}

.text-xl {
    font-size: 1.5em;
}

.text-xxl {
    font-size: 2em;
}

// colors

.text-black {
    color: black;
}
