// border-radius

$dist: 0.25rem;

@for $i from 1 through 10 {
    .r-#{$i} {
        border-radius: $dist;
    }
    
    .rt-#{$i} {
        border-top-left-radius: $dist;
        border-top-right-radius: $dist;
    }

    .rb-#{$i} {
        border-bottom-left-radius: $dist;
        border-bottom-right-radius: $dist;
    }

    $dist: $dist + $dist;
}

.radius-full {
    border-radius: 50%;
}

.border-logo {
    border-color: rgb(78, 11, 11) !important
}