.flex {
    display: flex !important;
}

.block {
    display: block !important;
}

.o-hidden {
    overflow: hidden;
}

@media (min-width: 576px) {
    .sm-flex {
        display: flex;
    }
}

@media (min-width: 768px) {
    .md-flex {
        display: flex;
    }
}