<div id="skills" class="container my-5">
    <p class="m-0 text-muted text-center">What I do?</p>
    <p class="m-0 text-logo text-center fs-4 fw-bold">Skills</p>
    <div>
        <div class="flex">
            <div class="flex pe-5">
                <div class="title-container"></div>
                <div class="images-container hover-all">
                    <div class="image-container">
                        <img src="./assets/img/static/services/html-logo.png" alt="">
                    </div>
                    <div class="image-container">
                        <img src="./assets/img/static/services/css-logo.png" alt="">
                    </div>
                    <div class="image-container">
                        <img src="./assets/img/static/services/javascript-logo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="flex pe-5">
                <div class="title-container"></div>
                <div class="images-container flex">
                    <div>
                        <div class="image-container">
                            <img src="./assets/img/static/services/php-logo.png" alt="">
                        </div>
                        <div class="image-container">
                            <img src="./assets/img/static/services/laravel-logo.png" alt="">
                        </div>
                        <div class="image-container">
                            <img src="./assets/img/static/services/react-logo.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="image-container">
                            <img src="./assets/img/static/services/typescript-logo.png" alt="">
                        </div>
                        <div class="image-container">
                            <img src="./assets/img/static/services/angular-logo.png" alt="">
                        </div>
                        <div class="image-container">
                            <img src="./assets/img/static/services/electron-logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex pe-5">
                <div class="title-container"></div>
                <div class="images-container">
                    <div class="image-container">
                        <img src="./assets/img/static/services/python-logo.png" alt="">
                    </div>
                    <div class="image-container">
                        <img src="./assets/img/static/services/c-sharp-logo.png" alt="">
                    </div>
                    <div class="image-container">
                        <img src="./assets/img/static/services/java-logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5">
        <div class="shadow-sm px-3 py-2 bg-white rounded">
            <p class="m-0 text-logo fw-bold fs-4">Vanilla Development</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem aperiam commodi magnam harum accusamus deleniti distinctio corrupti iure neque laborum, ipsa exercitationem earum id ratione ex pariatur at? Id, magnam.</p>
        </div>
    </div>
</div>