
    <div class="container sm-flex ta-center sm-ta-left justify-center sm-justify-between">
        <div class="flex justify-center sm-justify-between">
            <a routerLink="/home" class="flex align-center text-decoration-none">
                <span class="me-2">
                    <img class="image-icon radius-full" src="./assets/img/static/HappyFox2.jpg" alt="">
                </span>
                <p class="m-0">
                    <span class="block text-lg">
                        Portfolio
                    </span>
                </p>
            </a>
        </div>
        <div class="self-center text-lg">
            <a target="_blank" href="https://github.com/AdrianY1997">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>